.wrapper{
    width: 1024px;
    margin: 0 auto;
}
.rectangle1{
    width:100%;
    height: 160px;
    background: #ffd59e;
}

header h1{
    float: left;
    width: 340px;
    height: 86px;
    padding: 0 30px 70px 10px;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 102px;
    color: #ff6738;
}

header h2{
    position: relative;
    float: left;
    width: 600px;
    height: 48px;
    padding: 15px 15px 2px 0;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 48px;
    color: #ff6738;
}

header hr{
    width: 600px;
    height: 9px;
    background-color: #ff6738;
    float: left;
    
}

.navigateur{
    float:left;
    width: 100%;
    height: 46px;
    margin: 0 auto;
    background: #ff6738;
}

nav a{
    padding-top: 13px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.a1{
    width: 170px;
    height: 20px;
    padding-left: 60px;
}

.a2{
    width: 160px;
    height: 20px;
}

.a3{
    width: 70px;
    height: 20px;
    padding-left: 10px;
}

.a4{
    width: 200px;
    height: 20px;
    padding-left: 10px;
}

nav a:hover{
    color: #9c2a08;
}

.lagrave{
    width: 100%;
    height: 300px;
}

.display{
    display: inline-block;
    width: 100%;
}
.lacite{
    float: left;
    width: 327px;
    height: 310px;
    padding: 15px 15px 20px 240px;
    margin: 0 auto;
}

.effix{
    float: left;
    color: #ffa938;
    padding: 15px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
}

.textleft{
    float: left;
    width: 625px;
    height: 200px;
    padding-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    margin-bottom: 10px;
}


.ligne1{
    width: 650px;
    height: 9px;
    background-color: #ff6738;
    float: left;
    margin: 45px 0 45px 0;
    border-style: none;
}

.sernin{
    background-image: url("images/toulousesaintsernin.jpg");
    float: left;
    width: 100%;
    height: 364px;
       
}

h3{
    color: #ff6738;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    float: right;
    padding: 310px 325px 0 0;
}

.wrappercolonne{
    margin-top: auto;
    background-color: #ffd59e;
    float: left;
    padding: 20px 0px 20px 330px; 
    width: 1315px;
}

.colonne1, .colonne2{
    width: 450px;
    float: left;
    margin: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
}

.services{
    float: left;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 78px;
    color: #ff6738;
    margin-left: 340px;
    margin-top: 20px;
}

.ligne2{
    float: left;
    width: 697px;
    height: 50px;
    background-color: #ff6738;
    margin-top: 43px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-style: none;
}

.projet{
    float: left;
    padding-left: 305px;
    padding-bottom: 25px;
}

article h2{
    color: #ff6738;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 58px;
}

.p500{
    width: 490px;
    height: 247px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
}

.capitole{
    width: 520px;
    height: 290px;
    margin-top: 15px;
    padding-left: 20px;
}

.augustin{
    width: 500px;
    height: 290px;
    float: left;
    margin-top: 30px;
    padding-right: 600px;
    position: absolute;
    left: 295px;
}

.developpement{
    float: left;
    margin-left: 815px;
    width: 510px;
 
}

.developpement p{
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 23px;
     text-align: justify;
}

.carmes{
    width: 520px;
    height: 290px;
    margin-top: 30px;
    position: relative;
    left: 520px;
    top: -320px;
}



.hebergement{
    float: left;
    margin-left: 299px;
    margin-top: 25px;
    position: relative;
    height: 290px;
}

.ligne3{
    float: left;
    width: 650px;
    height: 50px;
    background-color: #ff6738;
    margin-top: 60px;
    margin-left: 299px;
    margin-bottom: 40px;
    border-style: none;

}

.tarif{
    float: left;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 78px;
    color: #ff6738;
    margin-left: 30px;
    margin-top: 40px;
}

table{
    background-color: #ffd59e;
    width: 1036px;
    margin-left: 300px;
    
}

td{
    border: 3px solid #ff6738 ;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;

}

.titretableau{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    text-align: justify;
}

.tableauservices{
    width: 160px;
}

.tableauforfait{
    width: 200px;
}

.tableauavantage{
    width: 400px;
}

.tableaucout{
    width: 100px;
}

.tableauperiode{
    width: 70px;
} 

.contact{
    float: left;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 78px;
    color: #ff6738;
    margin-left: 340px;
    margin-top: 30px;
    margin-bottom: 0;

}

.ligne4{
    float: left;
    width: 630px;
    height: 50px;
    background-color: #ff6738;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-style: none;
}

form{
    margin-left: 300px;
}

.nom{
    width: 390px;
    height: 60px;
    background-color: #ffd59e;
    margin-right: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #b7b7b7;
    
}

.prenom{
    width: 560px;
    height: 60px;
    background-color: #ffd59e;
    margin-right: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #b7b7b7;
}

.courriel{
    width: 650px;
    height: 60px;
    background-color: #ffd59e;
    margin-right: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    margin-right: 150px;
    margin-top: 15px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #b7b7b7;
}

.telephone{
    width: 650px;
    height: 60px;
    background-color: #ffd59e;
    margin-right: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    margin-right: 250px;
    margin-top: 15px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #b7b7b7;
}

.mandat{
    width: 995px;
    height: 285px;
    background-color: #ffd59e;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    margin-top: 15px;
    font-size: 15px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #b7b7b7;
    resize: none;
}

.soumettre{
    width: 310px;
    height: 86px;
    background-color: #ff6738;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-style: none;
    margin-left: 625px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
}
 
.footer{
    margin-top: 20px;
    background-color: #c4c4c4;
    width: 100%;
    height:350px;
}

footer h2{
    width: 300px;
    height: 86px;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 102px;
    text-transform: uppercase;
    color: #ff6738;
    margin-top: 25px;
    margin-left: 350px;
    margin-bottom: 30px;
    float: left;
}

.ligne5{
    background-color: #ff6738;
    width: 690px;
    height: 55px;
    float: left;
    margin-top: 50px;
    border-style: none;
}

footer p{
    width: 328px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 350px;
    margin-top: 5px;
}